
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Ad</th>
        <th>Soyad</th>
        <th>Departman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Bedirhan</td>
        <td>Erkılıç</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Ayşe</td>
        <td>Koca</td>
        <td>Analist</td>
    </tr>
</table>
