<div class="comment-top" id="comment">
    <h4>Leave a Comment</h4>
    <div class="comment-bottom">
        <input class="form-control" type="text" name="txtUserName" id="txtUserName" placeholder="Name & Surname">
        <input class="form-control" type="text" name="txtTitle" id="txtTitle" placeholder="Title">
        <textarea class="form-control" name="txtContent" id="txtContent" placeholder="Message..."></textarea>
        <button type="submit" onclick="doComment();" class="btn btn-primary submit">Submit</button>
    </div>
</div>

<script>
    function doComment() {
        var data = new Object();

        if (document.getElementById('txtUserName').value == '' || document.getElementById('txtTitle').value == '' || document.getElementById("txtContent").value == '') {
            Swal.fire('Fill in the required fields')
            return false;
        }
        
        data.UserName = document.getElementById('txtUserName').value;
        data.Title = document.getElementById("txtTitle").value;
        data.CommentContent = document.getElementById("txtContent").value;
        data.BlogId = document.getElementById("hdnBlog").value;

        $.ajax({
            type: "POST",
            url: '/Comment/AddComment',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if(data != null) {
                    window.location.reload()
                }
                else {
                Swal.fire({
                    icon: 'error',
                    title: 'Error',
                    text: 'An unexpected error occurred while commenting, please try again',
                })
                    document.getElementById('txtUserName').value = '';
                    document.getElementById('txtTitle').value = '';
                    document.getElementById('txtContent').value = '';
                }
            }
        });
    }
</script>