<div class="tech-btm">
    <img src="~/themes/BBlogTheme/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <h4>Sign up to our newsletter</h4>
    <p>Get news of our blogs by email </p>
    <form asp-controller="NewsLetter" asp-action="SubscribeMail" method="post">
        <input type="email" placeholder="Email" id="Email" name="Email" required="">
        <input type="submit" value="Subscribe">
    </form>
</div>