<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<div class="tech-btm">
    <img src="~/themes/BBlogTheme/images/banner1.jpg" class="img-fluid" alt="">
</div>
<div class="tech-btm">
    <h4>Sign up to our newsletter</h4>
    <p>Get news of our blogs by email </p>
    <input class="form-control" type="email" placeholder="Enter your email..." id="txtEmail" name="txtEmail">
    <button class="btn btn-primary read-m" type="submit" style="width:350px" onclick="subscribeMail();">Subscribe</button>
</div>

<script>
    function subscribeMail() {
        var data = new Object();

        if (document.getElementById('txtEmail').value == "") {
            Swal.fire('Email field cannot be empty')
            return false;
        }

        data.Email = document.getElementById('txtEmail').value;

        $.ajax({
            type: "POST",
            url: '/NewsLetter/SubscribeMail',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    Swal.fire({
                        icon: 'success',
                        title: 'Success',
                        text: 'You have signed up for our e-mail newsletter and we will keep you informed',
                    })
                    document.getElementById('txtEmail').value = "";
                }
                else {
                    Swal.fire({
                        icon: 'error',
                        title: 'Error',
                        text: 'An error occurred while signing up for the mail newsletter',
                    })
                    document.getElementById('txtEmail').value = "";
                }
            }
        });
    }
</script>