<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/themes/BBlogAdminTheme/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Bedirhan Erkılıç</span>
                        <span class="text-muted text-xs block">Software Developer<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Contacts</a></li>
                        <li><a class="dropdown-item" href="#">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    BB
                </div>
            </li>
            <li>
                <a href="#"><i class="fa fa-home fa-lg"></i> <span class="nav-label">Dashboard</span> <span class="fa home"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Dashboard v.1</a></li>
                    <li><a href="#">Dashboard v.2</a></li>
                    <li><a href="#">Dashboard v.3</a></li>
                    <li><a href="#">Dashboard v.4</a></li>
                    <li><a href="#">Dashboard v.5 </a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphics</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Flot Charts</a></li>
                    <li><a href="#">Morris.js Charts</a></li>
                    <li><a href="#">Rickshaw Charts</a></li>
                    <li><a href="#">Chart.js</a></li>
                    <li><a href="#">Chartist</a></li>
                    <li><a href="#">c3 charts</a></li>
                    <li><a href="#">Peity Charts</a></li>
                    <li><a href="#">Sparkline Charts</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">Messages</span><span class="label label-warning float-right">16/24</span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Inbox</a></li>
                    <li><a href="#">Email view</a></li>
                    <li><a href="#">Compose email</a></li>
                    <li><a href="#">Email templates</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrics</span>  </a>
            </li>
            <li>
                <a href="/Admin/Category/Index"><i class="fa fa-list"></i> <span class="nav-label">Categories</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-database"></i> <span class="nav-label">Blogs</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-comment"></i> <span class="nav-label">Comments</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Writers</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-wrench"></i> <span class="nav-label">Settings</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bell"></i> <span class="nav-label">Notifications</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-address-card"></i> <span class="nav-label">Contacts</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-birthday-cake"></i> <span class="nav-label">About Us</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-calculator"></i> <span class="nav-label">Statistics</span></a>
            </li>
            <li>
                <a href="#"><i class="fa fa-edit"></i> <span class="nav-label">Forms</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Basic form</a></li>
                    <li><a href="#">Advanced Plugins</a></li>
                    <li><a href="#">Wizard</a></li>
                    <li><a href="#">File Upload</a></li>
                    <li><a href="#">Text Editor</a></li>
                    <li><a href="#">Autocomplete</a></li>
                    <li><a href="#">Markdown</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-table"></i> <span class="nav-label">Tables</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level">
                    <li class="active"><a href="table_basic.html">Static Tables</a></li>
                    <li><a href="#">Data Tables</a></li>
                    <li><a href="#">Foo Tables</a></li>
                    <li><a href="#">jqGrid</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-picture-o"></i> <span class="nav-label">Gallery</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#">Lightbox Gallery</a></li>
                    <li><a href="#">Slick Carousel</a></li>
                    <li><a href="#">Bootstrap Carousel</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>