@model List<About>
@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>
<html lang="zxx">
<body>
    <section class="main-content-w3layouts-agileits">
        <div class="container">
            <h3 class="tittle">About</h3>
            <div class="row inner-sec">
                <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                    @foreach (var item in Model)
                    {
                        <div class="blog-grid-top">
                            <div class="blog_info_left_grid">
                                <img src="@item.Image" class="img-fluid" alt="">
                            </div>
                            <h3>@item.Title</h3>
                            <p>@item.Detail1</p>
                            <p>@item.Detail2</p>
                        </div>
                    }
                </div>
                <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                    <div class="right-blog-info text-left">
                        @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
                        @await Html.PartialAsync("~/Views/About/SocialMediaAbout.cshtml")
                        @await Component.InvokeAsync("RecentPosts")
                    </div>
                </aside>
            </div>
        </div>
    </section>
</body>
</html>
