<div class="tech-btm widget_social">
    <h4>Stay Connect</h4>
    <ul>
        <li>
            <a class="twitter" href="https://twitter.com/bedirhan_erk">
                <i class="fab fa-twitter"></i>
                @*<span class="count">0K</span>*@ Twitter @*Followers*@
            </a>
        </li>
        <li>
            <a class="facebook" href="https://www.facebook.com/profile.php?id=100051665255398">
                <i class="fab fa-facebook-f"></i>
                @*<span class="count">0k</span>*@ Facebook @*Followers*@
            </a>
        </li>
        <li>
            <a class="dribble" href="https://www.instagram.com/erkilicbedirhan/">
                <i class="fab fa-instagram"></i>
                @*<span class="count">0k</span>*@ Instagram @*Followers*@
            </a>
        </li>
    </ul>
</div>