<div class="tech-btm widget_social">
    <h4>Stay Connect</h4>
    <ul>
        <li>
            <a class="twitter" href="#">
                <i class="fab fa-twitter"></i>
                <span class="count">0K</span> Twitter Followers
            </a>
        </li>
        <li>
            <a class="facebook" href="#">
                <i class="fab fa-facebook-f"></i>
                <span class="count">0k</span> Twitter Followers
            </a>
        </li>
        <li>
            <a class="dribble" href="#">
                <i class="fab fa-dribbble"></i>

                <span class="count">0k</span> Dribble Followers
            </a>
        </li>
        <li>
            <a class="pin" href="#">
                <i class="fab fa-pinterest"></i>
                <span class="count">0k</span> Pinterest Followers
            </a>
        </li>
    </ul>
</div>