
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/_AdminLayout.cshtml";
}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<!--Modal-->
<div id="divAddWriter" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"><i class="fa fa-plus"></i> Add Writer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="hdnId" name="hdnId" hidden value="0"/>
                <div class="row" style="margin-bottom:5px" id="divError">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                            Please fill in the fields marked with *
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px" id="divErrPassword">
                    <div class="col-md-12">
                        <div class="alert alert-danger" role="alert">
                            Passwords do not match, check and try again
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-md-6">
                        <label><b style="color:red">*</b>Name:</label>
                        <input id="txtName" name="txtName" class="form-control" type="text" />
                    </div>
                    <div class="col-md-6">
                        <label>Image:</label>
                        <input id="txtImage" name="txtImage" class="form-control" type="text" />
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-md-12">
                        <label><b style="color:red">*</b>Mail:</label>
                        <input id="txtMail" name="txtMail" class="form-control" type="email" />
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-md-6">
                        <label><b style="color:red">*</b>Password:</label>
                        <input id="txtPassword" name="txtPassword" class="form-control" type="password" />
                    </div>
                    <div class="col-md-6">
                        <label><b style="color:red">*</b>Confirm Password:</label>
                        <input id="txtConfirmPassword" name="txtConfirmPassword" class="form-control" type="password" />
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-md-6">
                        <label>Facebook:</label>
                        <input id="txtFacebook" name="txtFacebook" class="form-control" type="text" />
                    </div>
                    <div class="col-md-6">
                        <label>LinkedIn:</label>
                        <input id="txtLinkedIn" name="txtLinkedIn" class="form-control" type="text" />
                    </div>
                </div>
                <div class="row" style="margin-bottom:5px">
                    <div class="col-md-12">
                        <label>Twitter:</label>
                        <input id="txtTwitter" name="txtTwitter" class="form-control" type="text" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <label>About:</label>
                        <textarea id="txtAbout" name="txtAbout" class="form-control" type="text" rows="5"></textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button onclick="saveWriter()" class="btn btn-primary">Save</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h3>
                        <i class="fa fa-users"></i> Writers
                        <a href="#" onclick="showWriter()" style="position:absolute;right:40px"><i class="fa fa-plus"></i></a>
                    </h3>
                </div>
                <div class="ibox-content">
                    <div id="divWriterList"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<img />
<script>
    function getWriterList() {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            type: "GET",
            url: "/Admin/Writer/GetWriterList",
            success: function (data) {
                var data = jQuery.parseJSON(data)
                var html = "";

                html += "<table class='table table-striped table-bordered'><thead><tr><th>Delete</th><th>Image</th><th>Name</th><th>Status</th><th>Facebook</th><th>LinkedIn</th><th>Twitter</th><th>Edit</th></tr></thead><tbody>";
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    html += "<tr>";
                    if (item.Status == false) {
                        html += "<td><a onclick='deleteWriter(" + item.WriterId + ")' style='cursor:pointer'><i style='color:green' class='fa fa-refresh fa-lg'></i></a></td>";
                    }
                    else {
                        html += "<td><a onclick='deleteWriter(" + item.WriterId + ")' style='cursor:pointer'><i style='color:red' class='fa fa-trash fa-lg'></i></a></td>";
                    }
                    html += "<td><img style='width:48px;height:48px' class='rounded-circle' src='" + item.Image + "'/></td>";
                    html += "<td class='col-lg-2'>" + item.Name + "</td>";
                    if (item.Status == true)
                        html += "<td><label style='font-size:13px' class='label label-primary'>Active</label></td>";
                    else
                        html += "<td><label style='font-size:13px' class='label label-danger'>Passive</label></td>";
                    if (item.Facebook != null && item.Facebook != "") 
                        html += "<td class='text-center'><a target='_blank' href='" + item.Facebook + "'><i class='fa fa-facebook fa-2x'></i></a></td>";
                    else
                        html += "<td></td>";
                    if (item.LinkedIn != null && item.LinkedIn != "")
                        html += "<td class='text-center'><a target='_blank' href='" + item.LinkedIn + "'><i class='fa fa-linkedin fa-2x'></i></a></td>";
                    else
                        html += "<td></td>"
                    if (item.Twitter != null && item.Twitter != "")
                        html += "<td class='text-center'><a target='_blank' href='" + item.Twitter + "'><i class='fa fa-twitter fa-2x'></i></a></td>";
                    else
                        html += "<td></td>"

                    html += "<td><a href='#' onclick='showWriter(" + item.WriterId + ")'><i class='fa fa-edit fa-lg'></i></a></td>";

                    html += "</tr>";
                }
                html += "</tbody></table>"
                $("#divWriterList").append(html);
            }
        });
    }

    function showWriter(id) {
        document.getElementById('hdnId').value = "";
        document.getElementById('txtName').value = "";
        document.getElementById('txtImage').value = "";
        document.getElementById('txtMail').value = "";
        document.getElementById('txtPassword').value = "";
        document.getElementById('txtConfirmPassword').value = "";
        document.getElementById('txtFacebook').value = "";
        document.getElementById('txtLinkedIn').value = "";
        document.getElementById('txtTwitter').value = "";
        document.getElementById('txtAbout').value = "";

        $("#divError").hide();
        $("#divErrPassword").hide();

        if (id != null) {
            $.ajax({
                contentType: "application/json",
                dataType: "json",
                type: "GET",
                data: { id: id },
                url: "/Admin/Writer/GetWriterById",
                success: function (data) {
                    var data = jQuery.parseJSON(data);
                    document.getElementById('hdnId').value = data.WriterId;
                    document.getElementById('txtName').value = data.Name;
                    document.getElementById('txtImage').value = data.Image;
                    document.getElementById('txtMail').value = data.Mail;
                    document.getElementById('txtFacebook').value = data.Facebook;
                    document.getElementById('txtLinkedIn').value = data.LinkedIn;
                    document.getElementById('txtTwitter').value = data.Twitter;
                    document.getElementById('txtAbout').value = data.About;
                }
            });
        }

        $('#divAddWriter').modal('show');
    }

    function saveWriter() {
        var data = new Object();

        if (document.getElementById('txtName').value == '' || document.getElementById('txtMail').value == '' || document.getElementById('txtPassword').value == '' || document.getElementById('txtConfirmPassword').value == '') {
            $("#divError").show();
            return false;
        }

        if (document.getElementById('txtPassword').value != document.getElementById('txtConfirmPassword').value) {
            $("#divErrPassword").show();
            return false;
        }

        if (document.getElementById('hdnId').value != 0)
            data.WriterId = document.getElementById('hdnId').value;

        data.Name = document.getElementById('txtName').value;
        data.Image = document.getElementById('txtImage').value;
        data.Mail = document.getElementById('txtMail').value;
        data.Password = document.getElementById('txtPassword').value;
        data.Facebook = document.getElementById('txtFacebook').value;
        data.LinkedIn = document.getElementById('txtLinkedIn').value;
        data.Twitter = document.getElementById('txtTwitter').value;
        data.About = document.getElementById('txtAbout').value;

        $.ajax({
            type: "POST",
            url: '/Admin/Writer/SaveWriter',
            data: JSON.stringify(data),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (data) {
                if (data != null) {
                    window.location.reload()
                }
            }
        });
    }

    function deleteWriter(id) {
        var data = new Object();

        data.id = id;
        Swal.fire({
            title: 'Are you sure?',
            showCancelButton: true,
            confirmButtonText: 'Yes',
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: "POST",
                    url: '/Admin/Writer/DeleteWriter',
                    data: JSON.stringify(data),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data != null) {
                            window.location.reload()
                        }
                    }
                });
            }
        })
    }

    $(document).ready(function () {
        getWriterList();
    });
</script>
<style>
    label {
        font-weight: bold;
    }
</style>