@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>BBlog - @ViewData["Title"]</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="Weblog a Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <link href="~/themes/BBlogTheme/css/bootstrap.css" rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="~/themes/BBlogTheme/css/single.css">
    <link href="~/themes/BBlogTheme/css/style.css" rel='stylesheet' type='text/css' />
    <link href="~/themes/BBlogTheme/css/fontawesome-all.css" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800"
          rel="stylesheet">
</head>
<body>
    <header>
        <div class="top-bar_sub_w3layouts container-fluid">
            <div class="row">           
                @await Html.PartialAsync("PartialTitle_Header")
                @await Html.PartialAsync("PartialWelcome_Header")
                @await Html.PartialAsync("PartialSocialIcons_Header")                
            </div>
        </div>
        <div class="header_top" id="home">
            @await Html.PartialAsync("PartialHeader_Header")
        </div>
    </header>
    @RenderBody()
    <footer>
        <div class="container">
            <div class="row">
                @await Html.PartialAsync("PartialLeft_Footer")
                @await Html.PartialAsync("PartialCenter_Footer")
                @await Html.PartialAsync("PartialRight_Footer")
            </div>
            <div class="footer-cpy text-center">
                @await Html.PartialAsync("PartialSocialIcons_Footer")
                @await Html.PartialAsync("PartialCopyRight_Footer")
            </div>
        </div>
    </footer>
    <script src="~/themes/BBlogTheme/js/jquery-2.2.3.min.js"></script>
    <script src="~/themes/BBlogTheme/js/move-top.js"></script>
    <script src="~/themes/BBlogTheme/js/easing.js"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 900);
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <a href="#home" class="scroll" id="toTop" style="display: block;">
        <span id="toTopHover" style="opacity: 1;"> </span>
    </a>
    <script src="~/themes/BBlogTheme/js/bootstrap.js"></script>
</body>
</html>
