<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
    <h2>Signup to our newsletter</h2>
    <div class="subscribe-main text-left">
        <div class="subscribe-form">
            <form action="#" method="post" class="subscribe_form">
                <input class="form-control" type="email" placeholder="Enter your email..." required="">
                <button type="submit" class="btn btn-primary submit">Submit</button>
            </form>
            <div class="clearfix"> </div>
        </div>
        <p>We respect your privacy.No spam ever!</p>
    </div>
</div>