<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
    <h3>About US</h3>
    <p>A blog (a truncation of "weblog") is a discussion or informational website published on the World Wide Web consisting of discrete, often informal diary-style text entries (posts).</p>
    <div class="read">
        <a href="/About/Index" class="btn btn-primary read-m">Read More</a>
    </div>
</div>