@model AppUser

<a class="nav-link dropdown-toggle" id="profileDropdown" href="/Writer/Index/" data-toggle="dropdown" aria-expanded="false">
    <div class="nav-profile-img">
        <img src="@Model.Image" alt="image">
    </div>
    <div class="nav-profile-text">
        <p class="mb-1 text-black">@Model.Name @Model.Surname</p>
    </div>
</a>