@model List<Message2>
@{
    ViewData["Title"] = "SendBox";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="card-title">
            <div class="page-header">
                <h3 class="page-title">
                    <span class="page-title-icon bg-gradient-primary text-white mr-2">
                        <i class="mdi mdi-message"></i>
                    </span> Sendbox
                    <a href="/Message/SendMessage" class="page-title-icon bg-gradient-primary text-white" style="position:absolute;right:40px"><i class="mdi mdi-send"></i></a>
                </h3>
            </div>
        </div>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>Receiver</th>
                    <th>Subject</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th>Detail</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ReceiverUser.Name @item.ReceiverUser.Surname</td>
                        <td>@item.Subject</td>
                        <td>@item.Date.ToString("dd/MMM/yy hh:mm")</td>
                        <td>
                            @if (item.Status == true)
                            {
                                <i class="mdi mdi-email-open"></i>
                            }
                            else
                            {
                                <i class="mdi mdi-email"></i>
                            }
                        </td>
                        <td> <a href="/Message/MessageDetail/@item.MessageId"> <i class="mdi  mdi-arrow-right-bold-hexagon-outline"></i></a> </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

