@model List<Category>

<div class="row">
    <div class="col-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category List</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th> Category Name </th>
                                <th> Status </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> @item.Name </td>
                                    <td>
                                        @if (item.Status == true)
                                        {
                                            <label class="badge badge-gradient-success">Active</label>
                                        }
                                        else
                                        {
                                            <label class="badge badge-gradient-danger">Passive</label>
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>