<form action="/Blog/Index" method="post" class="form-inline my-2 my-lg-0 header-search">
    <input class="form-control mr-sm-2" type="search" placeholder="Search blog..." name="blog" id="blog" required="">
    <button class="btn btn1 my-2 my-sm-0" type="submit">
        <i class="fas fa-search"></i>
    </button>
</form>