<div class="footer-social">
    <div class="copyrighttop">
        <ul>
            <li class="mx-3">
                <a class="facebook" href="https://www.facebook.com/profile.php?id=100051665255398">
                    <i class="fab fa-facebook-f"></i>
                    <span>Facebook</span>
                </a>
            </li>
            <li>
                <a class="facebook" href="https://twitter.com/bedirhan_erk">
                    <i class="fab fa-twitter"></i>
                    <span>Twitter</span>
                </a>
            </li>
            <li class="mx-3">
                <a class="facebook" href="https://www.instagram.com/erkilicbedirhan/">
                    <i class="fab fa-instagram"></i>
                    <span>Instagram</span>
                </a>
            </li>
        </ul>
    </div>
</div>