<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            @await Component.InvokeAsync("WriterInfoLeft")
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <span class="menu-title">Dashboard</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Writer/Index/">
                <span class="menu-title">My Profile</span>
                <i class="mdi mdi-account menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/BlogListByWriter/">
                <span class="menu-title">My Blogs</span>
                <i class="mdi  mdi-database menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/AddBlog/">
                <span class="menu-title">Add Blog</span>
                <i class="mdi  mdi-database-plus menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <span class="menu-title">Message</span>
                <i class="menu-arrow"></i>
                <i class="mdi mdi-email-outline menu-icon"></i>
            </a>
            <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="/Message/InBox/">Inbox</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Message/SendBox/">Sendbox</a></li>
                    <li class="nav-item"> <a class="nav-link" href="/Message/SendMessage/">Send Message</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Notification/NotificationList/">
                <span class="menu-title">Notification</span>
                <i class="mdi mdi-bell-ring menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Blog/Index/">
                <span class="menu-title">Back To BBlog</span>
                <i class="mdi mdi-keyboard-backspace menu-icon"></i>
            </a>
        </li>
    </ul>
</nav>