<footer class="footer">
    <div class="container-fluid clearfix">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">© @DateTime.Now.Year BBlog. All Rights Reserved</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Developed by <a href="https://www.bedirhanerkilic.com/" target="_blank">Bedirhan Erkılıç </a></span>
    </div>
</footer>