@model List<Blog>
@{
    ViewData["Title"] = "My Blogs";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<h1>My Blogs</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Delete</th>
            <th>Title</th>
            <th>Category</th>
            <th>Status</th>
            <th>Create Date</th>
            <th>Update</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="#"><i style="color:red" class="mdi mdi-delete"></i></a></td>
                <td>@item.Title</td>
                <td>@item.CategoryId</td>
                <td>@item.Status</td>
                <td>@item.CreDate.ToString("dd/MMM/yyyy")</td>
                <td><a href="#" class="btn btn-warning">Update</a></td>
            </tr>
        }
    </tbody>
</table>
<a href="/Blog/AddBlog" class="btn btn-primary">Add</a>