<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <img alt="image" class="rounded-circle" src="~/themes/BBlogAdminTheme/img/profile_small.jpg" />
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="block m-t-xs font-bold">Bedirhan Erkılıç</span>
                        <span class="text-muted text-xs block">Software Developer<b class="caret"></b></span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Contacts</a></li>
                        <li><a class="dropdown-item" href="#">Mailbox</a></li>
                        <li class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    BB
                </div>
            </li>
            <li>
                <a href="/Admin/Widget/Index"><i class="fa fa-home fa-lg"></i> <span class="nav-label">Dashboard</span>  </a>
            </li>
            <li>
                <a href="#"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Graphics</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/Chart/Index">Category-Blog Chart</a></li>
                </ul>
            </li>
            <li>
                <a href="#"><i class="fa fa-envelope"></i> <span class="nav-label">Messages</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="/Admin/AdminMessage/Inbox">Inbox</a></li>
                    <li><a href="/Admin/AdminMessage/Sendbox">Sendbox</a></li>
                    <li><a href="/Admin/AdminMessage/SendMessage">Send Message</a></li>
                </ul>
            </li>
            <li>
                <a href="/Admin/Category/Index"><i class="fa fa-list"></i> <span class="nav-label">Categories</span>  </a>
            </li>
            <li>
                <a href="/Admin/AdminBlog/Index"><i class="fa fa-database"></i> <span class="nav-label">Blogs</span>  </a>
            </li>
            <li>
                <a href="/Admin/Comment/Index"><i class="fa fa-comment"></i> <span class="nav-label">Comments</span>  </a>
            </li>
            <li>
                <a href="/Admin/Writer/Index"><i class="fa fa-users"></i> <span class="nav-label">Writers</span>  </a>
            </li>
            <li>
                <a href="/Admin/Setting/Index"><i class="fa fa-wrench"></i> <span class="nav-label">Settings</span>  </a>
            </li>
            <li>
                <a href="/Admin/Notification/Index"><i class="fa fa-bell"></i> <span class="nav-label">Notifications</span>  </a>
            </li>
            <li>
                <a href="/Admin/Contact/Index"><i class="fa fa-address-card"></i> <span class="nav-label">Contacts</span>  </a>
            </li>
            <li>
                <a href="/Admin/Aboutus/Index"><i class="fa fa-birthday-cake"></i> <span class="nav-label">About Us</span>  </a>
            </li>
            <li>
                <a href="/Login/LogOut"><i class="fa fa-power-off"></i> <span class="nav-label">Logout</span>  </a>
            </li>
        </ul>
    </div>
</nav>