
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="zxx">
<head>
    <title>BBlog - Error</title>
    <link rel="stylesheet" href="~/themes/BBlog404/css/style.css" type="text/css" media="all" />
    <link href="~/themes/BBlog404/css/font-awesome.css" rel="stylesheet">
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <section class="w3l-error-61-404">
        <div class="error-61-mian">
            <div class="wrapper">
                <div class="errors-16-top">
                    <div class="errors-16-info">
                        <h3>404 </h3>
                        <p>Oops! Page Not Found</p>
                        <div style="margin-bottom:15px">
                            <a class="btn btn-light" href="#">Homepage</a>
                        </div>
                        <div class="social-coming-icons">
                            <a href="https://www.facebook.com/profile.php?id=100051665255398" title="Facebook" class="footer-fb">
                                <span class="fa fa-facebook"
                                      aria-hidden="true"></span>
                            </a>
                            <a href="https://twitter.com/bedirhan_erk" title="Twitter" class="footer-tw">
                                <span class="fa fa-twitter"
                                      aria-hidden="true"></span>
                            </a>
                            <a href="https://www.instagram.com/erkilicbedirhan/" title="Instagram" class="footer-gg">
                                <span class="fa fa-instagram"
                                      aria-hidden="true"></span>
                            </a>
                            <a href="https://www.linkedin.com/in/bedirhan-erkilic/" title="Linkedin" class="footer-lin">
                                <span class="fa fa-linkedin"
                                      aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="copyright-footer">
                    <div class="copy-right">
                        <p>
                            © @DateTime.Now.Year BBlog 404 Page. All rights reserved | Developed by
                            <a href="https://www.bedirhanerkilic.com/" target="_blank">Bedirhan Erkılıç</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
